@{
    ViewBag.Title = "List";
}

<section id="group-list">

    <table id="groups">
        <thead>
            <tr>
                <th>Group Name</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Groups">
            <tr>
                <td><span data-bind="text:Name"></span></td>
            </tr>
        </tbody>

    </table>

</section>

@section javascript
{
    <script type="text/javascript">

        function GroupsViewModel()
        {
            var self = this;

            self.Groups = ko.observableArray([]);
            self.NewGroup = ko.observable();

            $.getJSON('@Url.Action("get","group")', function(allGroups)
            {
                self.Groups= ko.mapping.toJS(allGroups);
            });
        };


        $(function () {
            var groupModel = new GroupsViewModel();
            ko.applyBindings(groupModel);
        });

    </script>
}