@{
    ViewBag.Title = "TestGetLocation";
}

<h2>TestGetLocation</h2>
	<b>Javascript geo sample</b>
  @section javascript {
    <script src="/Scripts/geo.js" type="text/javascript" charset="utf-8"></script>
      <script src="/Scripts/jquery.signalR-0.5.2.min.js" type="text/javascript"></script>
  <script src="/signalr/hubs" type="text/javascript"></script>
	
       <script type="text/javascript">
           $(function () {
               // Proxy created on the fly
               var chat = $.connection.pulseyHub;

               // Declare a function on the chat hub so the server can invoke it
               chat.addMessage = function (message) {
                   $('#messages').append('<li>' + message + '</li>');
               };

               $("#broadcast").click(function () {
                   // Call the chat method on the server
                   chat.send($('#msg').val());
               });

               // Start the connection
               $.connection.hub.start();
           });
  </script>
      <script>
	    


		if(geo_position_js.init()){
		    
		    geo_position_js.getCurrentPosition(success_callback, error_callback, { enableHighAccuracy: true, options: 5000 });
		}
		else {
			alert("Functionality not available");
		}
         
		function success_callback(p)
		{
			//alert('lat='+p.coords.latitude +';lon='+p.coords.longitude);
		}
		
		function error_callback(p)
		{
			//alert('error='+p.message);
		}		
	</script>
      }

  <input type="text" id="msg" />
  <input type="button" id="broadcast" value="broadcast" />

  <ul id="messages">
  </ul>